# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Build

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.5] #, 3.6, 3.7, 3.8, 3.9]
        ansible-version: [2.9.18] #, 2.10.7]
        chaos-version: [1.7.1] #, 1.8.1, 1.9.0]

    steps:
    - uses: actions/checkout@v2

    - name: OS, users and ssh requirements
      run: |
        sudo ssh-keygen -A
        sudo sh -c 'echo "\nPubkeyAuthentication yes\n\nAuthorizedKeysFile	.ssh/authorized_keys\n" >> /etc/ssh/sshd_config'
        sudo sh -c 'echo "\n   StrictHostKeyChecking no\n" >> /etc/ssh/ssh_config'
        sudo systemctl restart ssh


        echo "############# Create chaos user #############"
        echo -e 'passwordsuper\npasswordsuper' | sudo adduser chaos --shell /bin/bash
        sudo sudo -u chaos ssh-keygen -q -N "" -f /home/chaos/.ssh/id_rsa
        sudo sudo -u chaos cp /home/chaos/.ssh/id_rsa.pub /home/chaos/.ssh/authorized_keys
        sudo sh -c 'echo "chaos ALL=(ALL) NOPASSWD: ALL" > /etc/sudoers.d/chaos'

        echo "############# Change owner #############"
        sudo chown -R chaos:chaos .


        
    
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    
    - name: Set up ansible ${{ matrix.ansible-version}}
      run: sudo python -m pip install ansible==${{ matrix.ansible-version }}

    - name: Set up chaos ${{ matrix.chaos-version}}
      run: sudo python -m pip install chaostoolkit==${{ matrix.chaos-version }}
        
    - name: Install dependencies
      run: |
        sudo python -m pip install --upgrade pip
        sudo python -m pip install pytest pylama
        if [ -f requirements.txt ]; then sudo -u chaos pip install -r requirements.txt; fi
        
    - name: Lint with pylama
      run: |
        sudo -u chaos pylama --ignore C901  chaosansible/
        
    - name: Test with pytest
      run: |
        sudo -u chaos pytest .

    - name: Generate a pip package
      run: |
        pip install -U setuptools wheel twine
        sudo -u chaos python3 setup.py release
        sudo -u chaos ls -la dist/
        sudo -u chaos pip install dist/chaostoolkit_ansible-1.9.0-py3-none-any.whl

    - name: Run chaos with ansible test
      run: |
        sudo -u chaos chaos run chaos-integration-tests/withoutbecomepasswd.json

        #sudo sh -c 'echo "chaos ALL=(ALL) ALL" > /etc/sudoers.d/chaossudopasswd'
        #sudo -u chaos chaos run chaos-integration-tests/withbecomepasswd.json

    

        

  